#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    z-index: 4;
    @include transition(.1s);
}

#return-to-top i {
    color: $colorGray;
    margin: 0;
    position: relative;
    left: 14px;
    top: 9px;
    font-size: 14px;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    @include transition(.1s);
}

#return-to-top:hover {
    background: $colorGray;
}