body {
  &.text-left {
    .active {
      &:before {
        left: -30px;
      }
    }
  }
  &.text-right {
    .active {
      &:before {
        right: -30px;
      }
    }
  }
}


header {
  .footer {
    .social-icons {
      li {
          margin:0 .15rem;
        a {
          color: $colorPink;
          background: $colorGray;
          border-radius: 50%;
          display: block;
          height: 30px;
          line-height: 32px;
          text-align: center;
          width: 30px;
          &:hover {
            color: $colorGray;
            background: $colorCream;
          }
        }
      }
    }
  }
  &.left {
    color: $colorGray;
    background-color: $colorPink;
    border-radius: 20px;
    min-height: 620px;
    max-height: 620px;
    top: 50px;
    overflow: hidden;
    position: fixed;
    width: 265px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    @include transition(.3s);
    nav {
      margin-top: 30px;
    }
    .header-box {
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px;
      position: absolute;
      .desktop-logo {
        img {
          border-radius: 8px;
        }
      }
    }
    button.close {
      display: none;
      outline: none;
      padding: 0;
      background-color: $colorGray;
      border: 0;
      -webkit-appearance: none;
      opacity: 1;
      color: $colorGray;
      font-weight: 400;
      font-size: 16px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 22px;
      margin-top: 16px;
      margin-right: 18px;
      position: relative;
      z-index: 1;
    }
  }
  a {
    color: $colorGray;
    &:hover {
      color: $colorGray;
      text-decoration: none;
    }
  }
  .title {
    display: block;
    font-size: 19px;
    font-weight: 700;
    &.dot {
      &:after {
        content: '';
        background-color: $colorGray;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        height: 8px;
        width: 8px;
      }
    }
  }
  .description {
    font-size: 12px;
    text-transform: uppercase;
  }
  .menu {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    i {
      margin-right: 20px;
    }
    li {
      line-height: 2.5;
      position: relative;
      a {
        margin-left: 0;
        padding: 0;
        @include transition(.3s);
        &:hover {
          margin-left: 5px;
        }
        &.active {
          &:before {
            content: '';
            background: $colorGray;
            display: block;
            height: 18px;
            top: 7px;
            position: absolute;
            width: 3px;

          }
        }
      }
    }
  }
}
