// $fontBody: 'Poppins';
// $fontSize:'14px';
// $colorBlack: #000;
// $colorGray:#f0f0ffa6;
// $colorPink:#69688C;
// $colorDarkPurple:#4b4a63;
// $colorOrange: #DF9D64;
// $colorWhite: #fff;
// $colorGray:#ACA800;
// yellow
// $fontBody: 'Poppins';
// $fontSize:'14px';
// $colorBlack: #000;
// $colorGray:#8C3503;
// $colorPink:#F2B544;
// $colorDarkPurple:#F2CC85;
// $colorOrange: #DF9D64;
// $colorWhite: #fff;
// $colorGray:#8C3503;
// $colorCream:#F2CC85
$fontBody: cursive;
$fontSize:'14px';
$colorBlack: #000;
$colorGray:#585858;
$colorPink:#D9A3BF;
$colorWhite: #fff;
$colorGray:#585858;
$colorCream:#F0EAD8