$FaFontBody: IRANSans;
$EnFontBody:Roboto;
$fontSize:'16px';
$bodyBgColor: white;
$headerBtnColor:#585858;
$evenBgColor: #9B2335;
$oddBgColor: #403f3f;
$headerBgColor: #9B2335;
$titleColor: white;
$textColor: white;
$iconColor: #403f3f;
$iconBgColor: white;
$iconHoverColor: white;
$iconBgHoverColor: #403f3f;
$bodyBg: white;
$sectionTitleAfterColor: white;
$timelineColor: white;

$hireBtnColor: #403f3f;
$hireBtnBgColor: white;
$hireBtnHoverColor: white;
$hireBtnHoverBgColor: #575555;

$downloadCvBtnColor: white;
$downloadCvBtnBgColor: #9B2335;
$downloadCvBtnHoverColor: #9B2335;
$downloadCvBtnHoverBgColor: white;

$submitBtnColor: #403f3f;
$submitBtnBgColor: white;
$submitBtnHoverColor: white;
$submitBtnHoverBgColor: #575555;


