@import "src/assets/css/scss/variables";

.skill-item .skill-info span {
  font-size: 14px;
}

.skill-item h4 {
  font-size: 14px;
  text-transform: uppercase;
}

.fact-item h2 {
  font-size: 36px;
  margin: 12px 0 7px;
}
.fact-item span {
  font-size: 14px;
}

.service-item {
  border: solid 1px #EFEFEF;
  border-radius: 10px;
  padding: 30px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-item h4, .service-item i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-item:hover {
  border-color: #585858;
  background: #585858;
  color: #FFF;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
}
.service-item:hover h4, .service-item:hover i {
  color: #FFF;
}

.timeline {
  position: relative;
  padding: 70px 0;
}

.timeline-line {
  position: absolute;
  top: 0px;
  left: calc(20% + 2px);
  bottom: 0px;
  width: 1px;
  background: $timelineColor;
}
.timeline-line::before, .timeline-line::after {
  content: "";
  display: block;
  border-radius: 100%;
  background: $timelineColor;
  position: absolute;
  left: -3px;
  height: 7px;
  width: 7px;
}
.timeline-line::before {
  top: 0;
}
.timeline-line::after {
  bottom: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  position: relative;
}
.entry:last-of-type .body {
  margin-bottom: 0;
}

.entry .title {
  float: left;
  width: 20%;
  position: relative;
}

.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #585858;
  background-color: #fff;
  border-radius: 100%;
  padding: 4.5px;
  top: 15%;
  right: -8px;
  z-index: 1;
}

.entry .body {
  margin: 0 0 6em;
  float: right;
  width: 80%;
  padding-left: 60px;
}
.entry .body p {
  margin-bottom: 0;
}
