#snackbar {
  min-width: 250px;
  text-align: center;
  padding: 10px 30px;
  position: fixed;
  margin-left: -125px;
  left: 50%;
  bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  visibility: hidden;
}

.success-message{
  background: darkolivegreen;
  color: #fff;
}

.error-message{
  background: darkred;
  color: #fff;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 0.5s 2.5s;
  animation: fadein 1s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
