<!-- section skills -->
<section id="skill" class="shadow-dark background parallax padding-50">
  <h3 class="section-title">{{'SKILL.TITLE'|translate}}</h3>
  <div class="spacer" style="height: 30px"></div>

  <div class="d-flex justify-content-between align-items-center ">
    <div class="flex-grow-1 m-2 h-100px w-100px w-sm-150px h-sm-150px">
      <img class="w-100" src="assets/img/html.png"  data-toggle="tooltip" data-placement="top" title="HTML5">
    </div>
    <div class="flex-grow-1 m-2 h-100px w-100px w-sm-150px h-sm-150px">
      <img class="w-100" src="assets/img/css.png"  data-toggle="tooltip" data-placement="top" title="Css3">
    </div>
    <div class="flex-grow-1 m-2 h-100px w-100px w-sm-150px h-sm-150px">
      <img class="w-100" src="assets/img/sass.svg" data-toggle="tooltip" data-placement="top" title="Sass,Scss">
    </div>
    <div class="flex-grow-1 m-2 h-100px w-100px w-sm-150px h-sm-150px">
      <img class="w-100" src="assets/img/angular.svg" data-toggle="tooltip" data-placement="top" title="Angular 2+">
    </div>
    <div class="flex-grow-1 m-2 h-100px w-100px w-sm-150px h-sm-150px">
      <img class="w-100" src="assets/img/typescript.svg" data-toggle="tooltip" data-placement="top" title="TypeScript">
    </div>
    <div class="flex-grow-1 m-2 h-100px w-100px w-sm-150px h-sm-150px">
      <img class="w-100" src="assets/img/javascript.svg" data-toggle="tooltip" data-placement="top" title="JavaScript">
    </div>
  </div>

</section>
