<!-- section home -->
<section class="home background parallax shadow-dark d-flex align-items-center bg-pink" id="home">
  <div class="cta mx-auto mt-2">
    <h2 class="mt-0 mb-4">{{'HOME.SUBJECT' | translate}}
      <br>
      {{'HOME.NAME' | translate}}</h2>
    <p class="mb-4">{{'HOME.DESCRIPTION' | translate}}</p>
    <div class="d-flex align-items-center">
      <span class="text-gray font-weight-bold font-size-16">{{'HOME.CHOOSELANGUAGE' | translate}}</span>
      <div class="mx-3">
        <a class="cursor-pointer" (click)="useLanguage('en')">
          <img
            data-toggle="tooltip" data-placement="top" title="English language"
            style="height: 30px" src="/assets/img/england.png" alt="English language">
        </a>
        <a class="mx-3 cursor-pointer" (click)="useLanguage('fa')">
          <img
            data-toggle="tooltip" data-placement="top" title="Persian language"
            style="height: 30px" src="/assets/img/iran.png" alt="Persian language">
        </a>
      </div>
    </div>

  </div>
</section>
