<!-- section about -->
<section id="about" class="shadow-blue white-bg padding">
  <h3 class="section-title">{{'ABOUT.ABOUTME' | translate}}</h3>
  <div class="spacer" data-height="80"  style="height: 50px"></div>

  <div class="row">
    <div class="col-md-12">
      <p class="mb-0">{{'ABOUT.DESCRIPTION' | translate}}</p>
      <div class="row my-4">
        <div class="col-md-6">
          <p class="mb-2">{{'ABOUT.TITLE.NAME' | translate}}<span class="text-dark font-weight-bold">{{'NAME' | translate}}</span></p>
          <p class="mb-0">{{'ABOUT.TITLE.BIRTHDAY' | translate}}<span class="text-dark font-weight-bold">{{'ABOUT.INFO.BIRTHDAY' | translate}}</span></p>
        </div>
        <div class="col-md-6 mt-2 mt-md-0 mt-sm-2">
          <p class="mb-2">{{'ABOUT.TITLE.LOCATION' | translate}}<span class="text-dark font-weight-bold">{{'ABOUT.INFO.LOCATION' | translate}}</span></p>
          <p class="mb-0">{{'ABOUT.TITLE.EMAIL' | translate}} <span class="text-dark font-weight-bold">{{'EMAIL' | translate}}</span></p>
        </div>
      </div>
      <div class="d-flex align-items-center flex-column-sm mt-sm-5">
        <a href="#" class="btn btn-gray w-100-sm"><i class="fa fa-cloud-download"></i><span class="mx-2">{{'ABOUT.BUTTON.DOWNLOADCV' | translate}}</span></a>
        <a href="#" class="btn btn-pink mx-3 m-sm-2 w-100-sm"><i class="fa fa-envelope"></i><span class="mx-2">{{'ABOUT.BUTTON.HIREME' | translate}}</span></a>
      </div>
    </div>
  </div>
</section>
