<!-- mobile header -->
<div class="mobile-header py-2 px-3 mt-4">
    <button class="menu-icon mr-2">
			<span></span>
			<span></span>
			<span></span>
		</button>
    <a href="index.html" class="logo"><img src="assets/img/cover.jpg" alt="Samaneh Basmechi" /></a>
    <a href="index.html" class="site-title dot ml-2">Samaneh Basmechi</a>
</div>

<!-- header -->
<header class="left float-left shadow-dark" id="header">
    <button type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
    <div class="header-inner d-flex align-items-start flex-column">
        <a href="index.html" class="desktop-logo"><img src="assets/img/cover.jpg" alt="Samaneh Basmechi" /></a>
        <a href="index.html" class="site-title dot mt-3">Samaneh Basmechi</a>
        <span class="site-slogan">Front-End Developer</span>

        <!-- navigation menu -->
        <nav>
            <ul class="vertical-menu scrollspy">
                <li><a href="#" class="active"><i class="icon-home"></i>Home</a></li>
                <li><a href="#"><i class="icon-user"></i>About</a></li>
                <li><a href="#"><i class="icon-graduation"></i>Resume</a></li>
                <li><a href="#"><i class="icon-grid"></i>Works</a></li>
                <li><a href="#"><i class="icon-phone"></i>Contact</a></li>
            </ul>
        </nav>

        <!-- footer -->
        <div class="footer mt-auto w-100">

            <!-- social icons -->
            <ul class="social-icons list-inline text-center">
                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
            </ul>

            <!-- copyright -->
<!--            <span class="copyright">© </span>-->
        </div>
    </div>
</header>
