<!-- header -->
<header class="left float-left shadow-dark" id="header">
    <div class="header-box d-flex align-items-start flex-column">
        <a href="index.html" class="desktop-logo"><img src="assets/img/cover.jpg" alt="Samaneh Basmechi" /></a>
        <a href="index.html" class="title dot mt-3">Samaneh Basmechi</a>
        <span class="description">Front-End Developer</span>

        <!-- menu -->
        <nav>
            <ul class="menu scrollspy">
                <li><a href="#" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o"></i>Resume</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Works</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>Contact</a></li>
            </ul>
        </nav>

        <!-- footer -->
        <div class="footer mt-auto w-100">

            <!-- social icons -->
            <ul class="social-icons list-inline text-center">
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>

        </div>
    </div>
</header>